//Header
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1F2326;
	padding: 44px 73px 44px 73px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	position: relative;
	z-index: 3;
	@media (max-width: 1300px){
		padding: 35px 25px 35px 25px;
	}
	box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
	&__menu{
		display: flex;
		align-items: center;
		z-index: 3;
		li{
			margin-right: 50px;
			&:last-child{
				margin: 0;
			}
			@media (max-width: 1300px){
				margin-right: 25px;
			}
		}
		& > li{
			position: relative;
		}
		a{
			color: white;
			display: inline-block;
			font-size: 0.75rem;
			font-weight: 700;
			transition: .3s ease all;
			&:hover{
				transform: scale(1.1);
			}
		}
		@media (max-width: $md2+px) {
			display: block;
			position: fixed;
			overflow-y: auto;
			top: 10%;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.8);
			padding: 90px 30px 30px 30px;
			right: -100%;
			transition: right 0.3s ease;
			transform: translateY($headerHeight);
			& > li{
				padding: 0;
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				color: #fff;
				font-size: 1.5rem;
			}
			&.active{
				right: 0;
			}
		}
	}
	&__logo{
		max-width: 79px;
		position: relative;
		margin-right: 120px;
		&:hover{
			transform: none !important;
		}
		@media (max-width: 1300px){
			margin-right: 70px;
		}
		@media (max-width: $md3+px){
			margin-right: 45px;
		}
		&::after{
			content: '';
			position: absolute;
			width: 2px;
			height: 42px;
			background-color: #ffffff;
			left: 180%;
			@media (max-width: $md3+px){
				height: 25px;
			}
			@media (max-width: 1300px){
				left: 144%;
			}
		}
		@media (max-width: $md3+px){
			max-width: 50px;
		}
	}
	&__game-logo{
		max-width: 48px;
		margin-right: 83px !important;
		@media (max-width: 1300px){
			margin-right: 40px !important;
		}
		&::after{
			display: none;
		}
		@media (max-width: $md3+px){
			max-height: 20px;
			max-width: 30px;
		}
	}
	&__user-info{
		display: flex;
		img{
			max-width: 40px;
		}
		a{
			margin: auto 0 auto 18px;
			color: #ffffff;
			font-weight: 700;
			transition: .3s ease all;
			font-size: 0.75rem;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
	&__logo-wrapper{
		display: none;
		@media (max-width: $md2+px){
			display: flex;
		}
	}
	&__logo-mobile{
		@media (max-width: $md2+px){
			display: none !important;
		}
	}
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span, &:before, &:after{
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
		}
		span{
			width: 65%;
		}
		&:before, &:after{
			content : " ";
		}
		&:before {
			top: 0px;
		}
		&:after {
			top: auto;
			bottom: 0px;
		}
		&.active {
			span {
				transform: scale(0);
			}
			&:before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&:after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px)
			}
		}
	}
}
