<header class="header">
	<div class="header__logo-wrapper">
		<a href="index.html" class="header__logo">
			<img src="img/logo.svg" alt="logo">
		</a>
		<a href="index.html" class="header__logo header__game-logo">
			<img src="img/game-logo.svg" alt="logo">
		</a>
	</div>	
	<ul class="header__menu">
		<a href="index.html" class="header__logo header__logo-mobile">
			<img src="img/logo.svg" alt="logo">
		</a>
		<a href="index.html" class="header__logo header__game-logo header__logo-mobile">
			<img src="img/game-logo.svg" alt="logo">
		</a>
		<li><a href="section__1" class="header__menu-link anchor">GAME</a></li>
		<li><a href="#" class="header__menu-link anchor">CHAMPIONS</a></li>
		<li><a href="#" class="header__menu-link">NEWS</a></li>
		<li><a href="#" class="header__menu-link">DISCOVER</a></li>
		<li><a href="#" class="header__menu-link">ESPORTS</a></li>
	</ul>
	<div class="header__user-info header__menu">
		<img src="img/user-avatar.svg" alt="">
		<a href="">UNEPICKID</a>
	</div>
	<div class="icon-menu"><span></span></div>
</header>